.DS_Store
.vscode
.astro
.csv

dist
node_modules

public/fonts/_raw
public/media
public/clients
public/css
public/assets
public/pages

src/content/exhibitions

src/pages/adult-children
src/pages/ancient-invisible-cities
src/pages/bartlett-transformation
src/pages/buried-in-the-rock
src/pages/climate-impact-tour
src/pages/collapse
src/pages/crime-scene
src/pages/displaced-witness
src/pages/dreamlife-of-driverless-cars
src/pages/echoes-from-taiwan
src/pages/eplf
src/pages/eternal-return
src/pages/forensic-architecture
src/pages/frozen-relic
src/pages/guardian-limbo
src/pages/horizontal-humans
src/pages/ibeyi
src/pages/italys-invisible-cities
src/pages/lord-nelsons-trafalgar-coat
src/pages/lost-treasures-of-maya
src/pages/mail-rail-viewers
src/pages/man-of-the-woods
src/pages/mary-rose
src/pages/museum-made-digital
src/pages/noise
src/pages/phantom
src/pages/pistol
src/pages/pompeii-new-secrets-revealed
src/pages/post-lenticular-landscapes-korea
src/pages/post-lenticular-landscapes
src/pages/romes-invisible-city-vr
src/pages/romes-invisible-city
src/pages/savage-beauty
src/pages/stephensons-rocket