@font-face {
  font-family: "Geist";
  src: url("/Geist-variable.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  src: url("/Monserrat-variable.woff2") format("woff2"),
    url("/Monserrat-italic-variable.woff2") format("woff2");
}

:root {
  --font-geist: "Geist", Helvetica, Aria, sans-serif;
  --font-monserrat: "Monserrat", Helvetica, Aria, sans-serif;
}

@theme {
  --font-primary: var(--font-monserrat);
  --font-secondary: var(--font-geist);
}
