/* @font-face {
  font-family: "Montserrat";
  src: url("/fonts/Monserrat-variable.woff2") format("woff2"),
    url("/fonts/Monserrat-italic-variable.woff2") format("woff2");
} */

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

:root {
  /* --font-monserrat: "Monserrat", Helvetica, Aria, sans-serif; */
  --font-proximanova: "ProximaNova", Helvetica, Aria, sans-serif;
}

@theme {
  --font-primary: var(--font-proximanova);
  /* --font-primary: var(--font-monserrat); */
}
