---
import CoreLayout from "../layouts/CoreLayout.astro";
---

<CoreLayout>
  <main>
    <header class="">
      <h1>VIDEO SPLASH</h1>
    </header>
    <section class="">
      <p>Copy and paste the code below into Run program.</p>
      <p>
        The work reveals alterations caused by human-centred industry and the
        immense forces of nature; destruction, extraction, habitation,
        construction, harvests, growth, and erosion. Three-dimensional stories
        unfold across an array of screens. Hypnotic imagery surrounds you.
      </p>

      <section class="breakout">
        <article class="">
          <p>
            Step 1: Downloading and Extracting the Map Files The majority of
            Minecraft maps that you can download will likely be archived within
            a .zip or .rar file. The folders and files contained in this archive
            must be extracted into your Minecraft saves folder, this allows
            Minecraft to detect the map.
          </p>
        </article>
      </section>
      <p>
        Audio shifts through the space. Spring breaks, summer sun shines through
        the leaves as they turn amber and fall a second later. In a quaint
        English garden a pumpkin grows. A thousand tonnes of steel are crushed.
        Sand ebbs and flows while a cliff retreats. 268 cows are milked. 519
        pints are drunk.
      </p>
    </section>
    <section class="">
      <div class="thiu">
        You will need a file archiver program to do this, such as 7-Zip (Windows
        only) which is free. If you have a Mac,.indent the "Archive Utility"
        built into OS X will be able to open .zip files by right-clicking on the
        .zip and
      </div>
    </section>
    <div class="">
      selecting "Open With Archive Utility", but you will need a program such as
      The Unarchiver for .rar files.
    </div>
    <section class="breakout">
      <p>
        Once you're ready to extract the map, you will need to locate your
        Minecraft saves folder. Step 2: Locating Your Minecraft Saves Folder
      </p>
    </section>
    <section class="media">
      <ul class="indent">
        <li>
          1.) Click on the Start Menu in Windows (It's the window icon in the
          bottom left corner).
        </li>

        <li class="">
          2.) Type run into the search box, and select the Run program at the
          top of the results.
        </li>

        <li>3.) Copy and paste the code below into Run program:</li>
      </ul>
    </section>
  </main>
</CoreLayout>

<style>
  :root {
    --col-indent: 586px;
    --col-page: 768px;
    --col-breakout: 1024px;
    --col-media: 1224px;
    --col-full: 100%;
  }
  header {
    width: 100%;
    height: 80vh;
    background-color: brown;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 4em;
    align-items: center;
    justify-content: flex-start;
  }
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section > * {
    max-width: 100%;
    width: var(--col-page);
  }
  .breakout p {
    font-weight: 600;
  }
  .breakout,
  .indent,
  .media {
    max-width: 100%;
  }
  section.breakout,
  section .breakout > * {
    width: var(--col-breakout);
  }
  section.media,
  section .media {
    background-color: aqua;
    width: var(--col-media);
  }
  section .indent {
    width: var(--col-indent);
  }
</style>
