---
import Layout from "$lib/layouts/Layout.astro";
import Block from "$lib/components/Block.astro";
import Heading from "$lib/components/Heading.astro";
import Keyval from "$lib/components/Keyval.astro";
---

<Layout
  dark={true}
  title="Jobs"
  description={`We are always looking for talented individuals to join the team from a
      broad range of backgrounds.`}
>
  <main class="no-hero">
    <p>
      We are always looking for talented individuals to join the team from a
      broad range of backgrounds. We are ethically driven, wherever possible our
      work tends to focus on environmental, social justice and critical thinking
      agendas.
    </p>

    <p>
      If you are from a photographic, computer science, geomatics, digital
      fabrication, architecture, design or film based background, or just a
      talented someone interested in the pointcloud world then we'd love to hear
      from you.
    </p>
    <h2>Equality And Diversity Policy</h2>

    <p>
      The studio supports the principle of Equality and Diversity in employment
      wholeheartedly and opposes all forms of unlawful or unfair discrimination
      on the basis of age, disability, gender reassignment, pregnancy and
      maternity, race, religion or belief, marriage and civil partnerships,
      gender, or sexual orientation.
    </p>

    <p>
      We believe that now more than ever there is a need for more tangible
      actions in response to inequality and/or disability. We believe that it is
      in the studio's best interests and those of all who work in it, to ensure
      that the human resources, talents and skills available throughout the
      community are considered when employment opportunities arise.
    </p>

    <Heading>The following opportunities are available:</Heading>

    <h2 class="text-xl">Junior Designer / Pointcloud Artist</h2>

    <p>
      We're seeking a creative, proactive, tech savvy individual to join our
      London-based team as a junior designer / pointcloud artist from February
      2025. This is a fantastic opportunity to launch or grow your career in
      immersive art, architecture, and/or XR.
    </p>

    <h3>About the Role</h3>

    <p>
      ScanLAB Projects is an award winning creative studio. We make pioneering
      artworks & immersive experiences. We use 3D scanning technology to tell
      stories about climate & social justice and technology futures.with 3D
      programs like Max, Maya, Cinema 4D would be helpful but not essential. In
      this role you'll use our custom software to process, edit, and visualise
      pointcloud data, contributing to innovative artworks reaching global
      audiences in 2025. You'll gain hands-on experience with cutting-edge tools
      and collaborate on high-impact projects. You'll be part of a design-led
      team, creating innovative artworks and technology, working from concept
      through to final films and installations.
    </p>

    <Block
      title="What we're looking for"
      type="list"
      body={[
        "Passion for design, creative storytelling and technology.",
        "Proficiency inAdobe tools, especially Photoshop, After Effects, and Media Encoder.",
        "Familiarity with 3D tools for example Rhino, Max, Blender or Cinema 4D.",
        "A willingness to learn and adapt in a fast-paced, collaborative environment.",
        "Appropriate degree, similar level design/creative qualification, or work experience.",
        "No experience with 3D scanning or pointclouds is required (but of course it's a bonus!)",
      ]}
    />

    <p>
      We value diverse perspectives and welcome applicants from all backgrounds.
      If you're excited about this opportunity but don't meet every requirement,
      we still encourage you to apply.
    </p>

    <Block
      title="Working with us"
      type="list"
      body={[
        "The role starts with in-person work at our Bethnal Green studio, transitioning to a mix of on-site and remote as projects allow.",
        "This position is full time, 5 days a week. Typical hours 09:00 to 18:00 (we operate flexible start / end time with core hours 10:00 - 16:00 required)",
        "Some UK and international travel may be required.",
        "28 days paid holiday (inc bank holidays and some studio closure over Christmas) Salary £29,000 Start Date Early Feb 2025",
      ]}
    />
    <div class="page-content flex justify-between">
      <Keyval key="Start Date" val="Early Feb 2025" />
      <Keyval align="right" key="Salary" val="£29,000" />
    </div>

    <h3>How to Apply</h3>

    <p>
      Application Deadline: midnight Sunday 5th January Please complete this
      short application form We'll be sending out interview invites by 9th
      January with in person interviews taking place on 13th January. Let us
      know if you need any accommodations during the application process or in
      the role itself - you can email <a
        href="mailto:studio@scanlabpropjects.co.uk"
        >studio@scanlabpropjects.co.uk</a
      > with the subject Junior Artist Position. We are here to support you.
    </p>
  </main>
</Layout>
