---
import Layout from "$lib/layouts/BaseLayout.astro";
---

<Layout
  title="Privacy Policy - ScanLAB Projects"
  dark={true}
  description={`This privacy policy explains what information we collect and how we use
    this.`}
>
  <main class="no-hero text-sm">
    <p class="">
      This privacy policy explains what information we collect and how we use
      this. If you have any questions or like to contact us with regards to
      security and privacy please email <a
        href="mailto:studio@scanlabprojects.co.uk"
        title="Email"
        target="_blank"
        class="link">studio@scanlabprojects.co.uk</a
      > or call on <a
        itemprop="telephone"
        title="Telephone"
        href="tel:+442077392524"
        class="link">+44 (0) 2077392524</a
      >.
    </p><h4>Collection of information</h4><p>
      We collect and hold personal information in a number of different ways:-
    </p><p>
      Firstly when you sign-up for our newsletter your name and email address
      are held within our Mailchimp database and used for sending out
      newsletters and invites to events. By subscribing, you provide us with
      your name and email address. We process this data in order to send you the
      newsletter.
    </p><p>
      The data provided in the newsletter subscription (your name and email), is
      stored in the mailing system database, until you decide not to receive the
      newsletter which will result in deleting the data from the database.
    </p><p>
      This data is solely used to contact you only, when we occasionally send a
      newsletter, it is never passed on or used in any other marketable way.
    </p><p>
      Secondly, when you visit our website, we also record information about
      your visit. We track information about the length of time on our website,
      which pages you visit, the frequency of your visits, your approximate
      Geolocation, browser type and computer operating system. This is all done
      using the Google Analytics, cookie system. This information is anonymously
      gathered and we cannot tell who you are.
    </p><p>
      And Thirdly, we also keep a record of the email correspondence should we
      be in contact with you. This information is held encrypted on Gmail’s
      servers. Any other information you share with us, for example pdf’s,
      images or other material is also stored locally for use on our secure
      servers which are backed up and monitored for intrusion and misuse.
    </p><h4>Use of this information</h4><p>
      None of this information is passed on to third parties, Advertisers or
      Marketing agencies. sold or exchanged in anyway.
    </p><h4>Cookie Policy</h4><p>
      We use Google Analytics to monitor your visits to our website -
      scanlabprojects.co.uk this adds cookies to your browser and helps us
      understand and improve visitor experiences.
    </p><p>
      We have taken steps to anonymize this data, withdrawing the tracking of
      your IP address.
    </p><p>
      The use of Google LLC cookies services involves the implementation of the
      tracking code provided by Google into our website’s code. This code is
      based on cookies but may also use other tracking technologies. More
      detailed information can be found here: <a
        href="https://policies.google.com/technologies/cookies"
        target="_blank"
        class="link">policies.google.com/technologies/cookies</a
      >
    </p><p>
      To opt out of Google Analytics across all websites please visit the
      following link: <a
        href="https://tools.google.com/dlpage/gaoptout"
        target="_blank"
        class="link">tools.google.com/dlpage/gaoptout</a
      >
    </p>
  </main>
</Layout>
