---
import Layout from "$lib/layouts/BaseLayout.astro";
---

<Layout
  title="Sustainability - ScanLAB Projects"
  dark={true}
  description={`This privacy policy explains what information we collect and how we use
    this.`}
>
  <main class="no-hero text-sm">
    <p>
      ScanLAB recognises that we are in a climate emergency: the current path
      for human-based emissions will heat the planet beyond the ‘safe’ 1.5
      degree threshold. We have always been conscious of the impact of our
      projects and work practices, but never rigorous in quantifying this
      impact. Now, we are taking specific, actionable steps to introduce a way
      of measuring the environmental, social and global impact of our work and
      set new standards for the way we deliver projects and experiences.
    </p><p>
      To achieve these goals, we have developed a set of resources and tools. We
      are sharing these, along with our policy documents and impact reports,
      with our community not because we think they are perfect, but rather in
      the hope of inspiring conversation.
    </p>

    <h4>Sustainability Policy</h4><p>
      We’ve committed to continuously learning about our impact. We’ve committed
      to managing our operations so that we have the smallest negative impact,
      wherever possible. We want the work we make, and the way we work, to be a
      positive voice for change. We expect this will take a combination of
      research, careful monitoring and continuous learning. Practising and
      improving our accountability is core to our plan and our studio.
    </p><p>
      At all stages we are trying to make sure this policy is not about ticking
      boxes or achieving points. If an existing system isn’t suited to the way
      we work or the impact we have, we will do the work to adapt and think
      creatively about how we can be more useful and accurate. Alongside
      researching and developing our own sustainability tools, we will continue
      to benefit from the advice of consultants and experts in the space.
    </p><p>
      So far, our focus has been predominantly on our environmental impact. Over
      the next two years, we will expand this focus to our social and global
      impact.
    </p><p>Our headline policies are:</p><ul class="bullets w-[768px] m-auto">
      <li class="list-disc">
        We have joined the SME Climate Commitment, which commits us to achieving
        Net Zero by 2030.
      </li><li class="list-disc">
        We commit to choosing the lowest impact option wherever possible,
        tracking our impact and placing value on continued decrease in impact
        over time.
      </li><li class="list-disc">
        We commit to making environmentally, socially, and sustainably conscious
        editorial, content and collaborator decisions.
      </li><li class="list-disc">
        We commit to offsetting any emissions we cannot reduce.
      </li>
    </ul><p>
      Our full policy can be download here - <a
        href="https://s3.eu-west-1.amazonaws.com/scanlabprojects.co.uk/assets/sustainability/ScanLAB_Sustainability_Policy_v1.6.pdf"
        target="_blank"
        class="link">Sustainability Policy</a
      >
    </p>

    <h4>Impact Reports</h4><p>
      Each year, we will be publishing a report summarising our impact and our
      progress towards our goals.
    </p><p>
      Our first Impact Report predominantly deals with our environmental impact.
      It begins with an overview of our sustainability journey so far, reports
      our impacts to date, and outlines the concrete actions that we are taking
      to reduce them.
    </p><p>
      Our Impact Report can be downloaded here - <a
        href="https://s3.eu-west-1.amazonaws.com/scanlabprojects.co.uk/assets/sustainability/ScanLAB_Sustainability_ImpactReport_2019_22_v1.5.pdf"
        target="_blank"
        class="link">2021-22 Impact Report</a
      >
    </p>

    <h4>Case Studies</h4><p>
      Each year, we’ve committed to conduct at least one in-depth Case Study.
      Case Studies focus on a particular event, part of a production, technique,
      or decision making process within a project that feels worthy of deeper
      interrogation for ourselves and for the wider community.
    </p><p>Here are links to download these case studies:</p><ul
      class="bullets w-[768px] m-auto"
    >
      <li class="list-disc">
        <a
          href="https://s3.eu-west-1.amazonaws.com/scanlabprojects.co.uk/assets/sustainability/ScanLAB_Sustainability_CaseStudy01_v1.5.pdf"
          target="_blank"
          class="link">Case Study 01 - FRAMERATE in Production</a
        >
      </li><li class="list-disc">
        <a
          href="https://s3.eu-west-1.amazonaws.com/scanlabprojects.co.uk/assets/sustainability/ScanLAB_Sustainability_CaseStudy02_v1.4.pdf"
          target="_blank"
          class="link">Case Study 02 - FRAMERATE SXSW Special Preview</a
        >
      </li>
    </ul>

    <h4>Tracking And Resources</h4><p>
      Monitoring is crucial to understanding our impact, to highlighting areas
      where significant reductions can be made, and to tracking, validating, and
      improving on the results of any changes we make. Starting with a basic
      environmental monitoring template provided by our consultants we have
      developed a custom <span class="bold"
        >Environmental Monitoring System (EMS)
      </span>to track the carbon footprint of our studio and our projects.
    </p><p>
      We have also created a Sustainability Decision Tracking Tool (SDTT). This
      records the financial cost and CO2e emissions of our decisions, helping us
      to more fully understand our impact and informing our planning so that a
      less impactful alternative can be chosen where possible. The tool tracks
      the high, medium and low impact option for each decision, records the
      choice made, and outlines the rationale for that choice.
    </p><ul class="w-[768px] m-auto">
      <li class="list-disc">
        <a
          href="https://docs.google.com/spreadsheets/d/1eZ-qTaxj7uZqBZMqr2zV3lbe7zC5_fG8ic1GHI0F0wU/edit?usp=sharing"
          target="_blank"
          class="link"
          >View only google sheet - Anonymised EMS
        </a>(Environmental Monitoring System)
      </li><li class="list-disc">
        <a
          href="https://docs.google.com/spreadsheets/d/1esS1Knr9vzuPSDldX92mzV-_lxBXNiqYWJVgRP_VwSw/edit?usp=sharing"
          target="_blank"
          class="link"
          >View only google sheet - Anonymised SDTT
        </a>(Sustainability Decision Tracking Tool)
      </li>
    </ul>
  </main>
</Layout>
