---
interface Props {
  link: boolean;
}
const { link } = Astro.props;
---

<footer>
  {
    link && (
      <div class="projects font-light">
        <a href="/projects">All projects</a>
      </div>
    )
  }

  <div class="links font-light text-xs md:text-sm lg:text-lg">
    <ul class="p-6 lg:py-8 flex items-center gap-6 lg:gap-12">
      <li>
        <span class="bold">Address</span>
        <a
          href="https://www.google.co.uk/maps/preview/place/ScanLAB+Projects,+London/@51.5296336,-0.0613865,17z/data=!3m1!4b1!4m2!3m1!1s0x48761cc48b92c473:0xc0c68a63dfe56f29"
          >Unit 7, 5 Durham Yard, London E2 6QF</a
        >
      </li>
      <li>
        <span class="bold">Telephone</span>
        <a href="tel:+442077392524">+44 20 7739 2524</a>
      </li>
      <li>
        <span class="bold">Data Policy</span>
        <a href="/policy">Privacy & Cookies</a>
      </li>
      <li>
        <span class="bold">Email</span>
        <a href="mailto:studio@scanlabprojects.co.uk"
          >studio@scanlabprojects.co.uk</a
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  @import "tailwindcss";
  footer {
    color: var(--col-dark);
  }
  .projects {
    padding-top: var(--spacing-level-1);
    display: flex;
    place-content: center;
  }
  .links {
    margin: 0 auto;
    margin-top: var(--spacing-level-2);
    width: var(--width-page);
    max-width: 100%;
    display: flex;
    min-height: 10em;
    align-items: flex-end;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    @apply w-[50%];
    @apply md:w-[100%];
  }
  ul {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: var(--size-smaller);
    display: flex;
    justify-content: space-between;
  }
  li {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    .links ul {
      flex-direction: column;
    }
  }
</style>
