---
interface Props {
  cite?: string;
  label?: string;
  center?: boolean;
  contain?: boolean;
}
const { label, cite, center = true, contain = false } = Astro.props;
---

<figure
  class=`quote py-12 ${center ? ' is-center' : ''}${contain ? ' has-contain' : ''}`
>
  {label && <q>{label}</q>}
  {
    !label && (
      <div class="slot-wrap flex flex-col gap-8 font-semibold">
        <slot />
      </div>
    )
  }
  {cite && <figcaption class="mt-2 font-light">&mdash; {cite}</figcaption>}
</figure>

<style>
  :global(.quote + .quote) {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  :global(q) {
    font-size: 1em;
    p {
      font-style: italic;
    }
    @media (max-width: 600px) {
      font-size: 1em;
    }
  }
  figure {
    color: var(--col-dark);
    width: 100%;
    margin: 0 auto;
    max-width: var(--width-quote);
    &.is-center {
      display: grid;
      place-content: center;
    }
    &.has-contain {
      max-width: var(--width-section);
    }
    @media (max-width: 1280px) {
      padding-left: 2em;
      padding-right: 2em;
    }
    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  q {
    text-align: center;
  }

  .slot-wrap {
    q:before,
    q:after {
      display: none;
      font-size: 1em;
      line-height: 0;
      vertical-align: middle;
    }
  }
</style>
