---
interface Props {
  title: string;
  role: string;
}
const { title, role } = Astro.props;
---

<div class="card flex flex-col md:gap-4 font-light">
  <header>
    <h4>{title}</h4>
    <h5 class="text-sm">{role}</h5>
  </header>
  <slot />
</div>
<style>
  h5 {
    font-size: 0.8em;
  }
</style>
