---
interface Props {
  size: "sm" | "md" | "lg" | "xl" | "2xl" | "3xl";
}
let { size } = Astro.props as Props;
const sizing = {
  sm: "size-2",
  md: "size-4",
  lg: "size-8",
  xl: "size-16",
  "2xl": "size-24",
  "3xl": "size-32",
} as const;
---

<div class={sizing[size]}></div>
