---
import Heading from "$lib/components/Heading.astro";
---

<Heading>Selected Clients</Heading>

<div
  class="selected-clients grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-12 px-8 md:px-0"
>
  <div class="group gap-4 sm:gap-12 items-center flex flex-col">
    <img src="/clients/Ars-Electronica-Logo.svg" />
    <img src="/clients/Baltic.svg" />
    <img src="/clients/Department_for_Transport.svg" />
    <img src="/clients/LACMA_logo_black.svg" />
  </div>
  <div class="group gap-4 sm:gap-12 items-center flex flex-col">
    <img src="/clients/Logo_NIKE.svg" />
    <img src="/clients/Guardian.svg" />
    <img src="/clients/XL.svg" />
    <img src="/clients/NewYorkTimes.svg" />
  </div>
  <div class="group gap-4 sm:gap-12 items-center flex flex-col">
    <img src="/clients/PBS_Logo.svg" />
    <img src="/clients/SciMu.svg" />
    <img src="/clients/southbank_logo.svg" />
    <img src="/clients/University_College_London_logo.svg" />
  </div>
  <div class="group gap-4 sm:gap-12 items-center flex flex-col">
    <img src="/clients/University_of_Cambridge_logo.svg" />
    <img src="/clients/citroen.svg" />
    <img src="/clients/bbc.svg" />
    <img src="/clients/more4_bw2.svg" />
  </div>
</div>

<style>
  .selected-clients {
    max-width: var(--width-section);
    width: 100%;
    margin: 0 auto;
  }
  .group {
    img {
      width: 80%;
      height: 100px;
      object-fit: contain;
    }
  }
</style>
